---
import Layout from '../layouts/Layout.astro';
import CaisoTenYearForecastChart from '../components/CaisoTenYearForecastChart.astro';
import ErcotSouthTenYearForecastChart from '../components/ErcotSouthTenYearForecastChart.astro';
import ErcotHoustonTenYearForecastChart from '../components/ErcotHoustonTenYearForecastChart.astro';
---

<Layout title="GridStor Analytics">
  <main class="p-4 md:p-10 mx-auto max-w-7xl">
    <div class="space-y-8">
      <CaisoTenYearForecastChart />
      <ErcotSouthTenYearForecastChart />
      <ErcotHoustonTenYearForecastChart />
    </div>
  </main>
</Layout>