---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Hidden Lakes Budget Forecast">
  <div class="w-full h-screen bg-white">
    <iframe 
      src="/presentations/Hidden_Lakes_Budget_Forecast/index.html" 
      class="w-full h-full border-0"
      title="Hidden Lakes Budget Forecast"
      allow="fullscreen"
      style="min-height: 100vh;"
    />
  </div>
</Layout> 